:root {
  font-family: "Martian Mono", monospace;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 900;
}

input,
textarea,
button {
  font-family: inherit;
}

body {
  margin: 0;
}

#root {
  min-height: 100dvh;
  display: flex;
}
